{% extends 'base.html.twig' %}

{% block title %}Candidat index{% endblock %}

{% block body %}
    <h1>Candidat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Genre</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Pays</th>
                <th>Nationalite</th>
                <th>Ispassport</th>
                <th>Date_naissance</th>
                <th>Lieu_naissance</th>
                <th>Email</th>
                <th>Password</th>
                <th>Disponibilite</th>
                <th>Job_categorie</th>
                <th>Experience</th>
                <th>Description</th>
                <th>Date_create</th>
                <th>Date_uptaded</th>
                <th>Date_deleted</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.id }}</td>
                <td>{{ candidat.genre }}</td>
                <td>{{ candidat.nom }}</td>
                <td>{{ candidat.prenom }}</td>
                <td>{{ candidat.adresse }}</td>
                <td>{{ candidat.pays }}</td>
                <td>{{ candidat.nationalite }}</td>
                <td>{{ candidat.ispassport ? 'Yes' : 'No' }}</td>
                <td>{{ candidat.dateNaissance }}</td>
                <td>{{ candidat.lieuNaissance }}</td>
                <td>{{ candidat.email }}</td>
                <td>{{ candidat.password }}</td>
                <td>{{ candidat.disponibilite ? 'Yes' : 'No' }}</td>
                <td>{{ candidat.jobCategorie }}</td>
                <td>{{ candidat.experience }}</td>
                <td>{{ candidat.description }}</td>
                <td>{{ candidat.dateCreate ? candidat.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ candidat.dateUptaded ? candidat.dateUptaded|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ candidat.dateDeleted ? candidat.dateDeleted|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_candidat_show', {'id': candidat.id}) }}">show</a>
                    <a href="{{ path('app_candidat_edit', {'id': candidat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_candidat_new') }}">Create new</a>
{% endblock %}
