{% extends 'base.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}
    <h1>Candidat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidat.id }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ candidat.genre }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ candidat.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ candidat.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ candidat.adresse }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ candidat.pays }}</td>
            </tr>
            <tr>
                <th>Nationalite</th>
                <td>{{ candidat.nationalite }}</td>
            </tr>
            <tr>
                <th>Ispassport</th>
                <td>{{ candidat.ispassport ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date_naissance</th>
                <td>{{ candidat.dateNaissance }}</td>
            </tr>
            <tr>
                <th>Lieu_naissance</th>
                <td>{{ candidat.lieuNaissance }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ candidat.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ candidat.password }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ candidat.disponibilite ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Job_categorie</th>
                <td>{{ candidat.jobCategorie }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ candidat.experience }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ candidat.description }}</td>
            </tr>
            <tr>
                <th>Date_create</th>
                <td>{{ candidat.dateCreate ? candidat.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_uptaded</th>
                <td>{{ candidat.dateUptaded ? candidat.dateUptaded|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_deleted</th>
                <td>{{ candidat.dateDeleted ? candidat.dateDeleted|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_candidat_index') }}">back to list</a>

    <a href="{{ path('app_candidat_edit', {'id': candidat.id}) }}">edit</a>

    {{ include('candidat/_delete_form.html.twig') }}
{% endblock %}
